body {
	font-family: Roboto, Helvetica, sans-serif;
	background-color: black;
}

#topbar {
	text-align: center;
	color: #fcdb00;
}

nav ul{
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
/* display list in a horizontal line */
	display: inline;
	padding: 0 10px;
}

nav a {
	text-decoration: none;
	color: #fcdb00;
}

nav a:link {
	background-color: #222222;
}

nav a:visited {
	background-color: #000000;
}

nav a:hover {
	text-decoration: underline;
}

p {
	color: #eeeeee;
}
